<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <hgroup>
        <h1>糟糕。</h1>
        <h2>【十一国庆】预约人数过多。请稍后重试</h2>
    </hgroup>
</body>
</html>
