.book-example {
margin-right: 0;
margin-left: 0;
margin-top:90px;
background-color: #fff;
border-color: #ddd;
border-width: 1px;
border-radius: 4px 4px 0 0;
-webkit-box-shadow: none;
box-shadow: none;
}

